
  /* RADIO INPUT */
  
  .check-label {
    width: 100px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 19;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  
  .check-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  
  .check-mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .check-mark-danger {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .check-mark-warn {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  
  .check-label:hover input~.check-mark {
    background-color: #ccc;
  }
  
  .check-label:hover input~.check-mark-danger {
    background-color: #ccc;
  }
  
  .check-label:hover input~.check-mark-warn {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  
  .check-label input:checked~.check-mark {
    background-color: #0954f7;
  }
  
  .check-label-danger input:checked~.check-mark-danger {
    background-color: #ee2112;
  }
  
  .check-label-warn input:checked~.check-mark-warn {
    background-color: #ee9612;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  
  .check-mark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .check-mark-danger:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .check-mark-warn:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  
  .check-label input:checked~.check-mark:after {
    display: block;
  }
  
  .check-label-danger input:checked~.check-mark-danger:after {
    display: block;
  }
  
  .check-label-warn input:checked~.check-mark-warn:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  
  .check-label .check-mark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
  
  .check-label-danger .check-mark-danger:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
  
  .check-label-warn .check-mark-warn:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }